{{ if type == 'teaser' }}
  {{ partial:elements/page-teaser }}
{{ /if }}

{{ if type == 'editor' }}
  {{ partial:elements/editor }}
{{ /if }}

{{ if type == 'image_container' }}
  {{ partial:elements/image-container }}
{{ /if }}

{{ if type == 'text_container' }}
  {{ partial:elements/text-container }}
{{ /if }}

{{ if type == 'contact' }}
  {{ partial:elements/contact }}
{{ /if }}

{{ if type == 'disruptor' }}
  {{ partial:elements/exhibitions/disruptor }}
{{ /if }}

{{ if type == 'teaser_current_exhibition' }}
  {{ collection from="exhibitions" as="exhibition" sort="order" id:is="{{ exhibition }}" }}
    {{ exhibition }}
      {{ if is_current }}
        {{ partial:elements/exhibitions/current }}
      {{ /if }}
    {{ /exhibition }}
  {{ /collection }}
{{ /if }}